.project-container {
  max-width: 1200px;
  margin: auto;
}

.waveform-container {
  padding: 20px;
}

#waveform {
  border-radius: 16px;
}

.controllers-container {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  padding: 20px;
}

.section-container, .section-input-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
  padding: 20px;
}

.section-input-container{
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  margin-top: 3px;
  padding-top: 47px;
}

.section-container {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.message-container {
  padding: 20px;
  width: 100%;

}

#message-input {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 30px;
  min-height: 200px;
  border-radius: 20px;
}