.sign-form-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.form-field-container{
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: space-between;
}

.remember-me-container{
    margin: 20px;
    display: flex;
    justify-content: center;
}

.remember-me-check-box{
    margin-right: 16px;
    height: 28px;
    width: 28px;
}

.sign-form{
    font-size: 38px;
    width: 100%;
}

/* .sign-form-label {
    text-decoration: underline;
} */

.sign-form-input {
    border-radius: 14px;
    margin-left: 8px;
    width: 95%;
    font-size: 24px;
}

.sign-button{
    margin-top: 16px;
    width: 100px;
    height: 100px;
    background-image: url('../../assets/buttons-icons/play-icon\ 1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    transition: background-color 1s;
}

.sign-button:hover{
    cursor: pointer;
    background-color: #0000ee28;
}

.other-sign-type{
    margin-top: 48px;
}

.sign-button-container{
    position: relative;
}

.notes{
    position: absolute;
    font-size: 20px;
    color: red;
    
}

@media (max-width:800px){
    .sign-form-container{
        flex-direction: column;
    }
    .sign-button-container{
        width: 300px;
    }
    .notes{
        top: 0px;
        left: 120px;
    }
    .other-sign-type{
        margin-top: 16px;
    }
}

@media (max-width:580px){
    .form-field-container{
        display: flex;
        flex-direction: column;
    }
}