h1{
    font-size: 64px;
}

h2{
    font-size: 48px;
}

.center-text{
    text-align: center;
}

.container{
    max-width: 1200px;
    margin: auto;
}

.hover-opacity{
    transition: 1s;
}
.hover-opacity:hover{
    opacity: 0.5;
}

input{
    background-color: black;
    color: #ffff;
    border-radius: 8px;
    padding: 4px;
}