@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@1,500&family=Grechen+Fuemen&family=Josefin+Sans&display=swap');

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(0, 174, 255); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 255, 255); 
}

*{
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Grechen Fuemen', 'Cabin', 'Josefin Sans', cursive, sans-serif;

  background-image: url('./assets/background-intersection.webp');

  font-size: 28px;
}

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */