:root {
  /* ---bright-colors--- */

  /* borders and shadows */
  --b-color-1: #d4d4eb;

  /* hovers */
  --b-color-2: #ebd4e0;

  /* backgrounds */
  --b-color-3: #ebebd4;

  /* buttons */
  --b-color-4: #d4ebdf;


  /* ---darks-colors--- */

  /* borders and shadows */
  --d-color-1: #0006e2;

  /* hovers */
  --d-color-2: #e20077;

  /* backgrounds */
  --d-color-3: #e2dc00;

  /* buttons */
  --d-color-4: #00e26b;
}


@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@1,500&family=Grechen+Fuemen&family=Josefin+Sans&display=swap');

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--d-color-1);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--d-color-1);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--d-color-3);
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Grechen Fuemen', 'Cabin', 'Josefin Sans', cursive, sans-serif;

  background-image: url('./assets/background-intersection.webp');

  font-size: 28px;
}

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */